#form-wrapper{
	width: 500px;
	padding: 30px;
	margin: auto;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#sign-up h1{
	background-color: #2a88ad;
	padding: 20px 30px 15px;
	color: #fff;
	border-radius: 10px 10px 0px 0px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.8);
	font-size: 30px;
	box-shadow: 0px 2px 2px 0px rgba(255,255,255,0.17);
}

#sign-up h1 span{
	margin-top: 10px;
	font-size: 14px;
	display: block;
}

#form-wrapper .section{
	font-size: 24px;
	background-color: #fff;
	margin-bottom: 10px;
	margin-top: 10px;
}

#form-wrapper .section span{
	background-color: #2a88ad;
	padding: 5px 10px;
	border-radius: 50px;
	color: #fff;
	border: 5px solid #fff;
	font-size: 16px;
	margin-left: -45px;

}
#form-wrapper label{
	display: block;
	font:13px Arial, sans-serif;
	color: #888;
}

#form-wrapper label input{
	display: block;
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.7);
	width: 100%;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
}

#button-wrapper input[type=submit]{
	background: #2a88ad;
    border-radius: 6px;
    color: white;
    border: 1px solid #257c9e;
    cursor: pointer;
    width: 120px;
    float: left;
    margin-top: 8px;
}

#button-wrapper .privacy {
    float: right;
    font: 12px serif;
    color: #4d4d4d;
    margin-top: 10px;
}

#button-wrapper .privacy input{
    box-shadow: none;
    width: initial;	
    float: left;
    margin: 2px 5px;
}

#address-wrapper label{
	margin-top: 8px;
}

#email-wrapper label{
	margin-top: 8px;
}

#password-wrapper label{
	margin-top: 8px;
}

#skills-wrapper label{
	margin-top: 8px;
}
